

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: black;
	box-shadow: 0 0 15px rgb(241, 236, 236);
	z-index: 50;
}

.h1 {
		float: left;
		margin: 0;
		padding: 0 15px;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		color: #FFF;
	}

	tr {
		height: 35px;
	}
	
	/*
table, th, td {
		border: 1px solid white;
}
*/

.th {
		float: right;
		font-size: 100%;
}

.link {	
	margin: 3px;
	height: 56px;
	line-height: 30px;
	padding: 3px 3px 3px ;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: underline;
	color: #EEE;
	will-change: color;
}

.link:hover, .link:active, .link:focus {
	border: 2px solid rgba(36, 39, 219, 0.623);
	margin: 3px;
	height: 56px;
	line-height: 20px;
	padding: 3px 3px 3px ;
	min-width: 50px;
	text-align: center;
	background: white;
	text-decoration: none;
	color: black;
	will-change: background-color;
}


.button {
	box-shadow: 0 0px 15px white;
}
